// External imports

// @import 'o-grid/main';

// Internal imports


@import 'src/scss/variables';
@import 'src/scss/mixins';
@import 'o-image-cropper/main';
@import 'o-icons/main';
@import 'node_modules/pearson-elements/scss/elements';

@include oIconsInclude(oc-icons);

@if not $o-avatar-is-silent {
	@include oAvatarHello(world of Origami);
}

.o-avatar_avatar {
	width: 100px;
	height: 100px;
	font: 16px arial, sans-serif;
}
.o-avatar_clearfix {
//	clear: both;
	overflow: auto;
}
.o-avatar_detail-avatar {
	border: solid 1px black;
	position: relative;
	overflow: hidden;
	display: block;
	margin: 0px;
	padding: 0px;
	img {
		width: 100%;
		height: 100%;
		margin: 0px;
		padding: 0px;
		display: block;
	}
	form {
		display: none;
	}
	button {
		margin: 0px;
	}
	input {
		display: none;
	}
}
.o-avatar_avatar-msg-button {
	background: rgba(0, 0, 0, 0.35);
	color: white;
	// font: 10px arial, sans-serif;
	position: absolute;
	bottom: 0px;
	left: 0px;
	display: block;
	height: 35px;
	line-height: 35px;
	text-align: center;
	border: none 0px;
}
.o-avatar_avatar-edit-button {
	display: none;

}

.o-avatar_editor-form {
	position: absolute;
	left: 0px;
	border: blue 10px;
	width: 500px;
	display: none;
	margin-top: 12px;
	background:  pe-color(boring);
	padding: 12px;
	// position: relative;
	border-radius: 6px;
	box-shadow: 10px 10px 10px grey;
	z-index: 10;
}

.o-avatar_cropper-image {

	//  height: 500px;
}

.o-avatar--cancel-edit {
	position: absolute;
  bottom: 8px;
	left: 20px;

}
.o-avatar--submit-crop {
	// display: block;
	// width: 60px;

	position: absolute;
  bottom: 8px;
	right: 20px;
	// border-radius: 3px;
	// padding: 6px 12px;
	// background: blue;
	// background-color: #0E67A9;
	// color: #FFF;
	line-height: 1.42857;
}

.o-avatar_editor {
	position: absolute;
	bottom: center;
	left: 0px;
	border: blue 10px;
	width: 500px;
	height: 500px;
}
.o-avatar_avatar-update-choice {
//	background: rgba(255, 255, 255, 1.00);
 	text-decoration: none;
	align-content: center;
	align-self: center;
	color: black;
	width: 100px;
	margin-top: 1px;
	margin-left: auto;
	margin-right: auto;
	background: white;
	padding: 1px;
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 5px;
	border-radius: 6px;
	// font: 12px arial, sans-serif;
	display: none;
	text-align: center;
	border-bottom: blue 2px;
	overflow: visible;
	position: relative;
	z-index: 10;
	box-shadow: rgba(0, 0, 0, 0.8) 3px 3px 3px 3px;
}
.o-arrow-up {
	position: relative;
	bottom: 20px;
	left: 40px;
	outline: 4px black;
	width: 0;
	height: 0;
	border-left: 20px solid transparent;
	border-right: 20px solid transparent;
	border-bottom: 20px solid white;
}


.o-loader {
  margin: auto;
  font-size: 10px;
  position: relative;
  text-indent: -9999em;
  border-top: 1.1em solid rgba(255, 255, 255, 0.2);
  border-right: 1.1em solid rgba(255, 255, 255, 0.2);
  border-bottom: 1.1em solid rgba(255, 255, 255, 0.2);
  border-left: 1.1em solid #107aca;
  transform: translateZ(0);
  animation: load8 1.1s infinite linear;
}
.o-loader,
.o-loader:after {
  border-radius: 50%;
  width: 10em;
  height: 10em;
}

@keyframes load8 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
